* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.widthMar {
    max-width: 1280px;
    margin: 0 auto;
}
.start-section {
    background-image: url("./media/start-screen-gradient-background.jpg"), url("./media/start-screen-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.main-header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #F1CDB3;
    border-radius: 2px;
    transition: 0.4s;
}
.burger.active {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 30px;
}

.burger.active span {
    width: 3px;
    height: 100%;
}
.menu {
    display: flex;
}
.menu.close {
    display: none;
}
.menu.open {
    display: flex;
}
.logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.logo-title {
    font-family: "Georgia";
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #F1CDB3;
}
.logo-subtitle {
    font-family: "Georgia";
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin-left: 4px;
}
.menu-items {
    font-family: arial, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
    gap: 36px;
    display: flex;

}
.menu-items ul {
    list-style: none;
    display: flex;
}
.menu-items li {
    display: inline;
}
.menu-items li:last-child {
    margin-right: 0;
}
.menu-items-li {
    text-decoration: none;
    color: #CDCDCD;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.menu-items a:hover {
    color: #FAFAFA;
    text-decoration: underline  #F1CDB3;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}
.aboutTheShelter {
    color: #FAFAFA;
    text-decoration: underline  #F1CDB3;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}

.start-content {
    display: flex;
    justify-content: space-between;
    padding: 90px 40px 0 40px;
    box-sizing: border-box;
    align-items: center;
}

.img-puppy {
}
.start-text {
    padding-right: 42px;

}
.start-text h2{
    font-family: "Georgia";
    text-align: left;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    margin-bottom: 42px;
    max-width: 310px;
    color: white;
}
.start-subtext {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 42px;
}
.start-btn {
    font-family: "Georgia";
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding: 15px 45px;
    border-radius: 100px;
    background-color: #F1CDB3;
    border: none;
    color: #292929;
    transition: background-color 0.3s ease-in-out
}
.start-btn:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border: none;
}
.about-section-content {
    background-color: white;
    display: flex;
    padding: 80px 215px 100px;
    gap: 120px;

}
.about-title {
    padding-right: 60px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 25px;
}
.about-text p {
    font-family: Arial;
    color: #4C4C4C;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.pets-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

}
.pets-wrapper {
    background: #F6F6F6;
    padding-top: 80px;
}
.pets-wrapper-title {
    font-family: "Georgia";
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    text-align: center;
    max-width: 400px;
}

.pets-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    flex-direction: row;
}
.slider {
    display: flex;
    gap: 90px;
    overflow: hidden;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
.card {
    background: #FAFAFA;
    border-radius: 9px;
    text-align: center;
    flex: 1 1 calc(33.33% - 20px);
}
.card h4 {
    font-family: "Georgia";
    color: #545454;
    font-weight: 400;
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 0.06em;
}
.btn-lrn-more {
    font-family: "Georgia";
    padding: 15px 45px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    margin-top: 30px;
    background: #FAFAFA;
    color: #545454;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 30px;
}
.btn-lrn-more:hover {
    background-color: #F1CDB3;
}
.get-to-know {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.btn-get-to-know {
    font-family: "Georgia";
    background-color: #F1CDB3;
    border: none;
    border-radius: 100px;
    padding: 15px 45px;
    color: #292929;
    font-size: 17px;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.btn-previous-next {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background: #F6F6F6;
    font-size: 18px;
    cursor: pointer;
    margin-left: 60px;
    margin-right: 60px;
}
.btn-previous-next:hover {
    background-color: #F1CDB3;

}
.btn-previous-next img{
    padding: 23px 19px;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 29px;
    background: #fafafa;
    border-radius: 9px;
}
.pet-img {
    max-width: 500px;
}
.pet-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 351px;
    margin-top: 51px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}
.pet-name{
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 8px;
}
.pet-about {
    display: flex;
    gap: 7px;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.pet-description {
    margin: 40px 0;
    font-size: 15px;
}
.pet-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
    margin-left: 11px;
}



.help {
    padding-top: 80px;
    padding-bottom: 100px;
}

.help-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

}

.help h3 {
    font-family: "Georgia";
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #545454;
    line-height: 130%;
    max-width: 310px;
    text-align: center;
}
.help-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    max-width: 1200px;
}



.item-list {
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    justify-content: center;
    height: 113px;
    box-sizing: border-box;
}
.item-list h4{
    font-family: "Georgia";
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}








.donation-section {
    overflow: hidden;
    background: #F6F6F6;
}
.donation-section-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px 182px 100px 183px;

}

.donation-text h3 {
    max-width: 300px;
    font-family: "Georgia";
    font-size: 35px;
    color: #545454;
    margin-bottom: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-weight: 400;


}
.bank {
    font-family: "Georgia";
    color: #545454;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
.credit-card {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    max-width: 349px;
    min-width: 281px;
    padding: 10px 15px;
    background: #f1cdb3;
    border-radius: 9px;
}
.credit-card a {
    font-family: "Georgia";
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 115%;
    letter-spacing: 0.055em;
    color: #545454;

}
.credit-card img {
    /*padding: 10px 15px;*/
}

.donation-text-p {
    font-size: 12px;
    margin-top: 20px;
    font-family: "Arial";
    font-style: italic;
    color: #B2B2B2;
    font-weight: 400;
    line-height: 150%;
}







.footer-section {
    background-image: url("./media/footer-background.png"), url("./media/footer-gradient-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.main-footer {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}
.info {
    flex: 0 1 38.67%;
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.footer-list {
    flex: 0 1 61.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 17px;
}
.footer-item {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}
.footer-item h4{
    font-family: "Georgia";
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer-item h3 {
    font-family: "Georgia";
    font-weight: 200;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: white;
}
.h4-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}
.h4-img a {
    text-decoration: none;
    color: #F1CDB3;

}
.location {
    flex: 0 1 40.5%;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

@media screen and (max-width: 900px) {
    .start-content {
        flex-direction: column;
        max-width: 569px;
        margin: 0 auto;
        gap: 97px;
    }
    .start-btn {
        margin: 0 auto;
        display: flex;
    }
    .about-section-content {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 430px;
        gap: 80px;
        padding: 0;
        margin: 80px auto 100px;
    }
    .help-list {
        column-gap: 60px;
        justify-content: space-around;
        max-width: 630px;
    }
    .item-list {
        width: 170px;
    }
    .donation-section-content {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 430px;
        gap: 80px;
        padding: 0;
        margin: 80px auto 100px;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 65px;
        padding-top: 33px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-item {
        flex: 0 1 50%;
        max-width: 302px;
    }
    .location {
        flex: 0 1 50%;
        max-width: 302px;
    }
    .footer-list {
        width: 100%;
        padding-top: 0px;
        gap: 60px;
    }
}
@media (max-width: 720px) {
    .burger {
        display: flex;
    }
    .menu {
    display: none;}
}

/*    .menu {*/
/*        position: fixed;*/
/*        top: 0;*/
/*        left: 0;*/
/*        width: 100vw;*/
/*        height: 100vh;*/
/*        display: flex;*/
/*        background-color: #292929;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        z-index: 1000;*/
/*        transition: 0.3s ease;*/
/*    }*/

/*    .menu-items {*/
/*        list-style: none;*/
/*        text-align: center;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        gap: 0;*/
/*        margin: auto;*/

/*    }*/

/*    .menu-items li {*/
/*        margin-left: 0px;*/
/*        margin-right: 0px;*/
/*        margin-bottom: 40px;*/
/*        height: 54px;*/
/*        font-size: 32px;*/
/*        line-height: 51px;*/
/*    }*/

/*    .menu-items a {*/
/*        color: white;*/
/*        font-size: 24px;*/
/*        text-decoration: none;*/
/*        transition: color 0.2s;*/
/*    }*/

/*    .menu-items a:hover {*/
/*        color: #FAFAFA;*/
/*        text-decoration: underline  #F1CDB3;*/
/*        text-underline-offset: 13px;*/
/*        text-decoration-thickness: 3px;*/
/*    }*/
/*    .aboutTheShelter {*/
/*        color: #FAFAFA;*/
/*        text-decoration: underline  #F1CDB3;*/
/*        text-underline-offset: 6px;*/
/*        text-decoration-thickness: 3px;*/
/*    }*/
/*}*/


@media (max-width: 342px) {
    .menu {
        display: none;
    }
    .main-header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .img-puppy {
        width: 260px;
    }
    .about-text {
        align-items: center;
        gap: 23px;
    }
    .start-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding: 0;*/
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }
    .start-text h2 {
        align-items: center;
        max-width: 220px;
        font-size: 25px;
        /*color: red;*/
        line-height: 32px;
        letter-spacing: 0.06em;
        text-align: center;
    }
    .start-content {
        padding: 0;
    }
    .start-subtext {
        max-width: 300px;
        align-items: center;
        font-size: 15px;
    }
    .about-section-content {
        gap: 42px;
    }
    .about-section-content img {
        padding: 0 20px;
        width: 300px;
        height: 353px;
    }
    .about-text {
        padding: 0 15px 0 15px;
        text-align: justify;
    }
    .about-text h3 {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 3px;
        padding: 0;
        padding-bottom: 25px;
    }
    .help-list {
        justify-content: unset;
        padding: 0 5px;
        column-gap: 30px;
        row-gap: 30px;
        max-width: 300px;
    }
    .item-list img {
        height: 50px;
    }
    .item-list h4 {
        font-size: 15px;
    }
    .item-list {
        height: 87px;
        width: 130px;
    }
    .donation-text {
        max-width: 300px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .donation-section {
        overflow: unset;
    }
    .donation-text h3 {
        max-width: 220px;
        font-size: 25px;
        line-height: 32px;
        padding-top: 42px;
        text-align: center;
    }
    .donation-text p {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: normal;
    }
    .credit-card a {
        font-size: 15px;
        line-height: 17px;
    }
    .donation-text-p {
        text-align: justify;
        padding: 0 10px;
        font-style: italic;
        font-size: 12px;
        line-height: 18px;
        height: 90px;
    }
    .donation-dog {
        width: 260px;
        padding-top: 42px;
    }
    .footer-content {
        padding: 0;
    }

    .info {
        margin-bottom: 40px;
        align-items: center;
    }
    .location h3 {
        max-width: 270px;
        align-self: center;
    }
    .h4-img {
    }
    .footer-list {
        display: block;
    }
    .footer-item h3 {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
    }
    .footer-img {
        width: 260px;
        align-self: flex-start;
        padding-bottom: 0;
    }

}

